.feed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: #946038;
  gap: 40px;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
}

.feed-sidebar-box {
  width: 314px;
  height: 750px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  padding: 20px;
  overflow-y: auto;
}

.feed-sidebar-font {
  color: #946038;
  margin: 20px;
  font-size: 42px;
  font-weight: 700;
  text-align: left;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.user-item:hover {
  background: rgba(148, 96, 56, 0.15);
}

.user-item.selected {
  background: rgba(148, 96, 56, 0.3);
}

.user-profile-placeholder {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #d9d9d9;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 960px;
  align-items: center;
}

.header-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 250px;
  width: 100%;
  height: 60px;
  align-items: center;
  border-radius: 15px;
  background: #fff;
}

.header-button {
  border: none;
  background: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  color: #7a4d2a;
}

.header-button:hover {
  color: black;
}

.post-box {
  width: 100%;
  height: 715px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  padding: 20px;
  overflow-y: auto;
}

.post-preview {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.post-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-title {
  font-size: 24px;
  font-weight: bold;
  color: #111;
}

.preview-date {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.preview-author {
  font-size: 14px;
  color: #999;
  margin-bottom: 5px;
}

.preview-content {
  font-size: 16px;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-posts-main {
  text-align: center;
  font-size: 18px;
  color: #888;
}
