/* 패스워드 보이기 토글처리 부분 */
.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-input {
  width: 378px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  outline: none;
  background: transparent;
  text-align: left;
}

.password-toggle-icon {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
  font-size: 18px;
}

.login-box {
  width: 466px;
  height: 793px;
  flex-shrink: 0;
  border-radius: 15px;
  background: white;
  display: flex;
  flex-direction: column;
}

.login-title-1 {
  font-size: 38px;
  font-weight: 200;
  margin-left: 42px;
  margin-top: 125px;
}

.login-title-2 {
  font-size: 38px;
  font-weight: bold;
  margin-left: 42px;
  margin-bottom: 60px;
}

/* 입력 필드  ====>  재앙의 원인. 나중에 리팩토링하면 얘 지우고 각 인풋태그에 클래스네임을 부여해서 수정하도록 하자 */
input {
  width: 378px;
  margin-top: 30px;
  margin-left: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  outline: none;
  background: transparent;
  align-items: center;
}

.login-button {
  width: 378px;
  height: 48px;
  padding: 0px;
  flex-shrink: 0;
  margin-left: 42px;
  margin-top: 100px !important;
  background: #946038;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.login-button:hover {
  background: #7a4d2a;
}

.signup-prompt {
  margin-left: 275px;
  margin-top: 80px;
  font-size: 17px;
  font-weight: 700;
}

.signup-link {
  color: #969696;
  margin-left: 55px;
  margin-top: 16px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.signup-link:hover {
  color: #7a4d2a;
}
