.mainpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 95vh;
  padding: 20px;
  background-color: #946038;
  gap: 40px; /* 좌우 간격 조정 */
}

/* 왼쪽 사이드바 영역 */
.left-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px; /* 고정 너비 설정 */
  align-items: center;
}

/* 프로필 박스 */
.profile-box {
  border-radius: 15px;
  background: #fff;
  width: 100%;
  height: 332px;
  flex-shrink: 0;
  font-size: 32px;
}

/* 헤더 박스 */
.header-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 250px;
  width: 100%;
  height: 60px;
  align-items: center;
  border-radius: 15px;
  background: #fff;
}

/* 사이드바 박스 */
.sidebar-box {
  width: 300px;
  height: 434px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  overflow-y: auto; /* 내부 스크롤 적용 */
  padding: 10px;
  position: relative;
}

/* 포스트 박스 */
.post-box {
  width: 100%;
  height: 715px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
}

.header-button {
  border: none;
  background: none;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: #7a4d2a;
}

.header-button:hover {
  color: black;
}
