/* 게시글 작성 화면 */
.posting {
  border-radius: 15px;
  background: #fff;
  width: 1326px;
  height: 793px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* 제목 입력 */
.post-headings {
  border-bottom: 1px solid #a3a3a3;
  margin: 0;
  width: 1205px;
  font-size: 48px;
  font-weight: 900;
  margin-top: 60px;
  border: none;
  border-bottom: 1px solid #a3a3a3;
  outline: none;
}

/* 내용 입력 */
.post-contexts {
  margin-top: 10px;
  width: 1205px;
  height: 600px;
  font-size: 18px;
  font-weight: 300;
  border: none;
  resize: none;
  outline: none;
}

/* 하단 영역 (체크박스와 버튼을 감싸는 영역) */
.post-bottom-section {
  width: 1205px;
  position: absolute;
  bottom: 30px;
}

/* 대표 글 체크박스 스타일 */
.main-post-checkbox {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  font-size: 16px;
  border-radius: 5px;
  background: #d9d9d9;
  gap: 20px;
}

/* 게시, 취소 버튼 영역 */
.post-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.post-button {
  width: 110px;
  height: 42px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

/* 게시 버튼 */
.submit-btn {
  background: #946038;
  color: #fff;
}

.submit-btn:hover {
  background: #7a4d2a;
}

/* 취소 버튼 */
.cancel-btn {
  background: gray;
  color: #fff;
}

.cancel-btn:hover {
  background: darkgray;
}
