html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #946038; /* ✅ 배경색 적용 */
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #946038; /* 로그인 화면 배경 색 유지 */
}
